openapi: 3.1.0
info:
  title: Amazon Location Service Maps API
  description: The Amazon Location Service API provides programmatic access to manage Location Service resources.
  version: '2024-01-01'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
servers:
- url: https://geo.us-east-1.amazonaws.com
  description: Amazon Location Service endpoint
security:
- sigv4: []
tags:
- name: Maps
  description: Map resource management
paths:
  /maps:
    post:
      operationId: CreateMap
      summary: Amazon Location Service Create Map
      description: Creates a map resource in your AWS account.
      tags:
      - Maps
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListMaps
      summary: Amazon Location Service List Maps
      description: Lists map resources in your AWS account.
      tags:
      - Maps
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /maps/{MapName}:
    get:
      operationId: DescribeMap
      summary: Amazon Location Service Describe Map
      description: Retrieves the map resource details.
      tags:
      - Maps
      parameters:
      - name: MapName
        in: path
        required: true
        schema:
          type: string
        description: The name of the map resource.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteMap
      summary: Amazon Location Service Delete Map
      description: Deletes a map resource from your AWS account.
      tags:
      - Maps
      parameters:
      - name: MapName
        in: path
        required: true
        schema:
          type: string
        description: The name of the map resource.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /tracking/v0/trackers:
    post:
      operationId: CreateTracker
      summary: Amazon Location Service Create Tracker
      description: Creates a tracker resource in your AWS account.
      tags:
      - Maps
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListTrackers
      summary: Amazon Location Service List Trackers
      description: Lists tracker resources in your AWS account.
      tags:
      - Maps
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /tracking/v0/trackers/{TrackerName}/positions:
    post:
      operationId: BatchUpdateDevicePosition
      summary: Amazon Location Service Batch Update Device Position
      description: Uploads position update data for one or more devices to a tracker resource.
      tags:
      - Maps
      parameters:
      - name: TrackerName
        in: path
        required: true
        schema:
          type: string
        description: The name of the tracker.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /places/v0/indexes/{IndexName}/search/text:
    post:
      operationId: SearchPlaceIndexForText
      summary: Amazon Location Service Search Place Index for Text
      description: Geocodes free-form text, such as an address, name, city, or region.
      tags:
      - Maps
      parameters:
      - name: IndexName
        in: path
        required: true
        schema:
          type: string
        description: The name of the place index resource.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication
